.logo{
    width: 12%;
}
.header .themeBtn{
    padding: 7px 20px;
    color: #1e88e5;
    cursor: pointer;
}
.header .themeBtn:hover{
    padding: 7px 20px;
    color: #fff;
}
.navbar .pages{
    margin-left: 30px;
}
.header .themeBtn:before{
    background-color: #fff;
}
.header .themeBtn:after{
background-color: #bc1622;
}
.header{
    background: #7bc1ff;
    position: sticky;
    top: 0;
    z-index: 10;
}
.header .avatar{
    width: 45px;
    height: 45px;
    border-radius: 3rem;
}
.header .user{
    font-size: 12px;
}
button{
    background: transparent;
    font-weight: 500;
    border: 2px solid white;
    padding: 4px 15px;
    border-radius: 9px;
}
.navButton{
    transition: .5s all;
    background-color: transparent;
    color: white;
    height: fit-content;
}
.logOut:hover{
    background:#F71943;
    color: white;
}
a.nav-link {
    color: white !important;
}
.pages a{
    color: #bc1622;
    text-decoration: none;
    font-weight: 600;
    margin: 4px 7px;
    transition: .5s all;
    width: fit-content;

}
.pages a:hover{
   color:#fff;
}
.pages .active{
    color: #fff;
}