*{
    transition: .5s all !important;
}
a:hover {
    text-decoration: none;
    outline: none;
}
/* .themeBtn:hover{
    color:#fff;
} */
.themeBtn{
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: transparent;
    text-align: center;
    padding: 15px 38px;
    text-transform: uppercase;
    z-index: 1;
    transition: all 500ms ease;
}
.themeBtn:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    transform: translateY(0px) skew(-12deg);
    border-radius: 5px;
    z-index: -1;
    transition: all 500ms ease;
}
.themeBtn:before {
    background-color: #bc1622;
}
.themeBtn:after {
    position: absolute;
    content: '';
    background-color: #1E88E5;
    width: 0%;
    height: 100%;
    left: 0px;
    top: 0px;
    transform: translateY(0px) skew(-12deg);
    border-radius: 5px;
    z-index: -1;
    transition: all 500ms ease;
}
.themeBtn:hover {
    color: #fff;
}
.themeBtn:hover:after {
    width: 100%;
}
.MuiCardActions-root .MuiButton-outlinedPrimary:hover{
    background-color: #1E88E5;
    color :#fff;
}
.MuiCardActions-root .MuiButton-outlinedPrimary{
    font-weight: 500;
}
.MuiGrid-root .MuiPaper-root{
    transition: .5s all !important;
}
.MuiGrid-root .MuiPaper-root:hover{
    box-shadow: 0 0 20px 0 #808080;
}
.MuiPaper-root:hover .css-o69gx8-MuiCardMedia-root{
    transform: scale(1.04);
}